html, body, header{
	height: 100%;
	width: 100%;
}
@font-face {
	  font-family: 'slick';
	  src: url('../fonts/slick.eot'); /* IE9 Compat Modes */
	  src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       /*url('webfont.woff2') format('woff2'), */
	       url('../fonts/slick.woff') format('woff'), /* Pretty Modern Browsers */
	       url('../fonts/slick.ttf')  format('truetype'), /* Safari, Android, iOS */
	       url('../fonts/slick.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	  font-family: 'FontAwesome';
	  src: url('../fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
	  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../fonts/fontawesome-webfont.woff2') format('woff2'),
	       url('../fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
	       url('../fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	       url('../fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/* global */
body{
	 font-family: 'Montserrat', sans-serif;
}
.transpaarent{
	background-color: transparent;
}
section{
	padding: 60px 0;background: white;
}
.no-padding{
	padding: 0 !important;
}
.opacity-0{ opacity: 0; }
.opacity-0.animate{ opacity: 1; }
.btn-light-brown{
	background-color: #998677;
	color: white;
	border-bottom: 3px solid #726457;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 15px !important;
	padding: 6px 22px;
	font-family: 'Raleway', sans-serif;
	margin-top: 18px;
	transition: .3s;
}
.btn-light-brown:hover{
	background-color: #726457;
	color: white;
}
/* firefox only */
@-moz-document url-prefix() {
	.parallax-mirror {
       top: 18px !important;
   }
}
.arrow-up {
	width: 0; height: 0; border-left: 15px solid #f2232300; border-right: 15px solid #0000; border-bottom: 15px solid white; position: absolute; bottom: 0; left: 20px; transition: .3s;
}
.card-deck {width: 100%;}

/* nav */
nav{
    transition: .5s;
}
.nav-link {
    color: white;
}
.navbar-brand, .navbar-brand:hover {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
.active a.nav-link, a.nav-link:hover{
	color: #43291b;
}
.dark-header{
	background-color: #7d675c;
	transition: .3s;
    padding-top: 10px !important;
}



/* slider */
.slider {
    width: 100%;
    margin: 0 auto;
}
.slick-prev {
    left: 25px;
    z-index: 1;
}
.slick-next{
	right: 25px;
}
.slick-track, .slick-list, .slick-dotted.slick-slider {
    height: 100%;
}
.slick-dots {
    bottom: 25px;
}
.slick-slide > div, .slide-phase {
    height: 100%;
}
.slide-phase {
    background-position: center; background-size: cover; position: relative;
}
.img-bg {
    height: 100%; width: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.34);
}
.content-holder {
    display: table; height: 100%; width: 100%; text-align: center;
}
.content-here span {
    max-width: 650px; display: block; margin: 0 auto;
}
.content-here span p {
    color: white;
}
.content-here h1 {
    font-family: 'Roboto', sans-serif; color: white; font-size: 60px; font-weight: 900;
}
.slider-content-left{
    text-align: left;
    padding-left: 140px;
}
.slider-content-left span{
    margin:0;
}
.content-here {
   display: table-cell; vertical-align: middle; position: relative; z-index: 2;
}
.left-slider-arrow {
   position: absolute; z-index: 3; font-size: 95px; color: white; left: 20px; line-height: 55px; top: 50%; margin-top: -27px;
}
.right-slider-arrow {
   position: absolute; z-index: 3; font-size: 95px; color: white; right: 20px; line-height: 55px; top: 50%; margin-top: -27px; transform: rotate(180deg);
}
.left-slider-arrow:hover, .right-slider-arrow:hover{
	cursor: pointer;
}

/* service */
#service-section a h3 {
    font-family: 'Raleway', sans-serif; transition: .3s; color: initial;
}
#service-section a i {
    font-size: 3em;
    color: #545454;
    transition: .3s;
}
#service-section p{
	color: gray;
}
#service-section hr {
    height: 5px; background-color: #f1eee9; border: none; transition: .3s;
}
#service-section a:hover, #service-section a:hover i, #service-section a:hover h3{
	color: #c8b29a;
	text-decoration: none;
}
#service-section .col-lg-3:hover hr{
	background-color: #c8b29a;
}

/* about section */
#about-section .office-pic {
    min-height: 450px; background-position: center; background-size: cover;
}
.about-short-read{
	background: #382720;
	background: -moz-linear-gradient(left, #382720 0%, #483026 100%);
	background: -webkit-linear-gradient(left, #382720 0%,#483026 100%);
	background: linear-gradient(to right, #382720 0%,#483026 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382720', endColorstr='#483026',GradientType=1 );
}
#about-section h2{
	color: white;
}
#about-section p{
	color: gray;
}

/* project section */
#project-section .card{
	margin: 0;
	border-radius: 0;transition: .3s;
}
.card-body{
	transition: .3s;
}
#project-section .card img{
	border-radius: 0 !important;
}
#project-section .img-holder {
	overflow: hidden; min-height: 240px; height: 100%; background-size: cover; background-position: center; position: relative; text-align: center;
}
#project-section .img-holder .view-opt {
    position: absolute; top: -100%; transition: .5s; height: 240px; width: 100%; background-color: rgba(77, 52, 39, 0.60); overflow: hidden;display: table;
}
#project-section .card:hover .img-holder .view-opt{
   top: 0; width: 100%; transition: .3s;
}
#project-section .card .img-holder .view-opt ul {
   padding: 0; list-style: none; display: table-cell;vertical-align: middle;
}
#project-section .card .img-holder .view-opt ul li {
   display: inline-block; padding: 0 10px; width: 50px; height: 50px; border-radius: 100%; transition: .3s;
}
#project-section .card .img-holder .view-opt ul li a {
    color: #ffffff;
    font-size: 30px;
}
#project-section .card .img-holder .view-opt ul li:hover {
    background-color: rgba(0,0,0,.5);
    transform: scale(1.2);
}
#project-section .card:hover .arrow-up{
	border-bottom: 15px solid #372f2d;
}
#project-section .card:hover .card-body{
	background-color: #372f2d;
	color: white;
}


/* video section */
#video-section { max-height: 500px; height: 100%; overflow: hidden; position: relative; background: rgba(0,0,0,.5); }
#video-section div {height: 100%;}
.play-container { display: table; text-align: center; width: 100%;}
.inner-play { display: table-cell; vertical-align: middle; }
.inner-play button { border-radius: 100%; padding: 10px; background-color: rgba(0,0,0,.5); transition: .3s; }
.inner-play button:hover{ transform: scale(1.3); }
#video-section > img { position: fixed; bottom: 0; z-index: -1; transform-origin: right; width: 100%; }

/* post section */
#post-section .img-holder{
	min-height: 240px;background-position: center;background-size: cover;position: relative;
}
.date-post {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
	 text-align: center;
color: white;
font-size: 20px;
z-index: 2;
}
.date-post .date {
    background-color: rgba(31, 31, 31, 0.52);
    padding: 0px 15px;
	     border-top-left-radius: 3px;
		      border-top-right-radius:: 3px;
}
.date-post .month {
    background-color: rgba(0, 0, 0, 0.79);
    padding: 7px 5px;
	 border-bottom-left-radius: 3px;
	 border-bottom-right-radius:: 3px;
    font-size: 13px;
}
.back-drop {
    position: absolute;
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    z-index: 1;
	 transition: .3s;
}
#post-section .card:hover .back-drop{
	height: 100%;
}
#post-section .card:hover .card-body{
	background-color: #372f2d;
}
#post-section .card:hover .card-body a{
	color: #bcab97;
}
#post-section .card .card-body .card-title a{
	color: #555555;
	text-decoration: none;
}
#post-section .card:hover .card-body p{
	color: #ffffff;
}
#post-section .card .card-body a{
	color: #c4af94;
}



/* counter section */
#serv-section {
    background: #211b19;
    background: -moz-linear-gradient(left, #211b19 0%, #4e3427 100%);
    background: -webkit-linear-gradient(left, #211b19 0%,#4e3427 100%);
    background: linear-gradient(to right, #211b19 0%,#4e3427 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4e3427',GradientType=1 );
}
.countUpMe{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: 400;
}
.icon-name{
    font-family: 'Montserrat', sans-serif;
    color: white;
    color: white;
    text-transform: uppercase;
}
#serv-section hr{
    height: 5px;
    background-color: #c7b299;
    border: none;
}


/* footer section */
#footer-top {

    background-color: #191919;

}
#footer-bottom {
    background-color: #111111;
	 padding: 15px 0;
font-size: 12px;
color: rgba(255, 255, 255, 0.16);
 font-family: 'Montserrat', sans-serif;
}
#footer-bottom a {
    color: rgba(255, 255, 255, 0.53);
}
#footer-bottom a:hover{
	text-decoration: none;
}


@media only screen and (max-width: 767px) {
    #service-section hr, #serv-section hr {
        width: 50px;
    }

    #project-section .card-deck{
        margin: 0 auto;
    }
}
